{% extends 'base.html.twig' %}

{% block title %}Congress index{% endblock %}

{% block body %}
    <h1>Congress index</h1>

    {% component datatable with {
        data: congresses,
        columns: [
        'id',
            {name: 'officialName', title: 'Name'},
            'lastName', 'gender', 'birthday']
    } %}

        {% block birthday %}
        {{ row.birthday|date }}
        {% endblock %}

        {% block officialName %}
            <a href="{{ path('app_congress_show', {'id': row.id}) }}">{{ row.officialName }}</a>
        {% endblock %}

    {% endcomponent %}
{% endblock %}
