{% extends 'base.html.twig' %}

{% block title %}New Congress{% endblock %}

{% block body %}
    <h1>Create new Congress</h1>

    {{ include('congress/_form.html.twig') }}

    <a href="{{ path('app_congress_index') }}">back to list</a>
{% endblock %}
